body {
  padding-top: 5rem;
  background-color:#FFF;
}
.starter-template {
  padding: 1.5em 0 3em 0;
 text-align: center;
}

#listOfArticles{}
.articleContent{padding:0.5em;}
.articleHeader a{}

span.b {
  display: inline-block;
  margin:0;padding:0;
}

#news,#portfolio{text-align:center;width:50%;height:25em;float:left; border:1px solid #b2bec3;overflow-y: auto}

#portfolio ul{list-style:none;margin:0;font-size: 2em;}
.infoBox{
display:inline-block;width:25%;margin:0 0 0.2em 0;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.8);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding:0.5em;
}

@media only screen and (max-width: 600px) {

.infoBox{
display:inline-block;width:100%;margin:0 0 0.2em 0;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding:0.5em;
}

#news,#portfolio{clear:both;width:100%;border:1px solid #b2bec3;}
}